@import url(https://fonts.googleapis.com/css?family=Exo);
@import "tailwindcss";


body {
  font-family: exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
